<h1>Jan Andersson - sba20368</h1>

In [1]:
import pandas as pd
import numpy as np

# Visualization libraries
import matplotlib as plt
import seaborn as sns

<h3>Supressing warnings</h3>
<p>Supressing warning in pandas library when doing some operations as they take up most of the space of the output and are not code critical</p>

In [2]:
import warnings
warnings.filterwarnings("ignore")

<h3>Loading data and preparing data</h3>
<p>Loading the data into a dataframe from a Comma-separated values (CSV) dataset titled:
<ul>
  <li><code>cattle_births_month_county.csv</code></li>
  <li><code>Supply.csv</code></li>
  <li><code>Milk_Sales_for_Human_Consumption.csv</code></li>
</ul>

<h4>The aim</h4>
To load the dataset using the CSV pandas load protocol and present the metadata of the dataset in order to get aquianted with the shape of the data.

In [3]:
data_Births = pd.read_csv('cattle_births_month_county.csv')
data_Supply = pd.read_csv('Supply.csv')

# Cattle Births Data

In [4]:
data_Births.head(5)

   BIRTH_YEAR COUNTY_ORIGIN BIRTH_MONTH CALF_BREED_TYPE  TOTAL_BIRTH
0        2016        CARLOW         APR            BEEF         3670
1        2016        CARLOW         APR           DAIRY          680
2        2016        CARLOW         AUG            BEEF          778
3        2016        CARLOW         AUG           DAIRY           80
4        2016        CARLOW         DEC            BEEF          835

In [5]:
data_Births['TOTAL_BIRTH'].describe(include='all')

count      624.000000
mean      3654.964744
std       7010.470855
min          6.000000
25%        454.500000
50%       1561.500000
75%       3825.750000
max      95720.000000
Name: TOTAL_BIRTH, dtype: float64

<h1>Converting data to categorical</h1>
I converted the data into categorical for the month of cattle birth and breed type.
</br>
<b>Where:</b>
JAN:1
FEB:2
MAR:3
APR:4
MAY:5
JUN:6
JUL:7
AUG:8
SEP:9
OCT:10
NOV:11
DEC:12
</br>
<b>and</b> 
</br>
BEEF:1
DAIRY:2

In [6]:
data_Births['BIRTH_MONTH'] = data_Births['BIRTH_MONTH'].replace(['JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC'],['1','2','3','4','5','6','7','8','9','10','11','12'])
display(data_Births)

     BIRTH_YEAR COUNTY_ORIGIN BIRTH_MONTH CALF_BREED_TYPE  TOTAL_BIRTH
0          2016        CARLOW           4            BEEF         3670
1          2016        CARLOW           4           DAIRY          680
2          2016        CARLOW           8            BEEF          778
3          2016        CARLOW           8           DAIRY           80
4          2016        CARLOW          12            BEEF          835
..          ...           ...         ...             ...          ...
619        2016       WICKLOW          11           DAIRY          956
620        2016       WICKLOW          10            BEEF         1308
621        2016       WICKLOW          10           DAIRY         1217
622        2016       WICKLOW           9            BEEF         1210
623        2016       WICKLOW           9           DAIRY          879

[624 rows x 5 columns]

In [8]:
data_Births['CALF_BREED_TYPE'] = data_Births['CALF_BREED_TYPE'].replace(['BEEF','DAIRY'],['1','2'])
display(data_Births)

     BIRTH_YEAR COUNTY_ORIGIN BIRTH_MONTH CALF_BREED_TYPE  TOTAL_BIRTH
0          2016        CARLOW           4               1         3670
1          2016        CARLOW           4               2          680
2          2016        CARLOW           8               1          778
3          2016        CARLOW           8               2           80
4          2016        CARLOW          12               1          835
..          ...           ...         ...             ...          ...
619        2016       WICKLOW          11               2          956
620        2016       WICKLOW          10               1         1308
621        2016       WICKLOW          10               2         1217
622        2016       WICKLOW           9               1         1210
623        2016       WICKLOW           9               2          879

[624 rows x 5 columns]

In [ ]:
sns.pairplot(data_Births)

In [ ]:
import matplotlib.pyplot as plt 
sizes= data_Births['CALF_BREED_TYPE'].value_counts()
colors=['red', 'yellow']
labels= ['Beef', 'Dairy']
plt.pie(sizes, labels=labels, colors=colors ,startangle=90, shadow=True, explode=(0.2, 0.1) ,autopct='%1.0f%%')
plt.title('Breakdown of beef and dairy data')
plt.axis('equal')
plt.legend(labels, loc="best")
plt.figure(dpi=1200)
plt.show()

As we can see the data for the cattle births is equaly distributed for the Dairy and Beef. Meaning the data has a valid amount of entrees for both groups of cultivated animals and holds integrity.

# Dairy Supply Data

In [ ]:
data_Supply.info()

In [ ]:
data_Supply.head(5)

In [ ]:
data_Supply['VALUE'].describe(include='all')

<h1>Stratified Sampling</h1>
I have used Stratified Sampling, the population is divided into groups based on characteristics.
The two data charachteristics I chose for the strata are 'Year' and 'Product Type	'

In [ ]:
data_Supply.groupby(['Year','Product Type'], group_keys=False).apply(lambda x: x.sample(1))

I will drop the unneccesary column as we have no background information on what data that feature represents or a reference to transforems the data into a usable source.

In [ ]:
data_Supply = data_Supply.drop(['C02064V02491'], axis=1)

In [ ]:
data_Supply['Product Type'].value_counts()

Within the dataset for the sales of dairy throughout the years in Ireland we have 5 different categories representing the items as displayed with the value counts of the product type feature.

In [ ]:
sns.pairplot(data_Supply)